.create-title{
    overflow : hidden;
}

.create-title h2{
    text-align : center;
    font-size: 48px;
    font-family: g-bold;
    margin-top: 200px;
}

.create-team a{
    text-decoration: underline;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pin2{
    display: flex;
    justify-content: center;
}

.pin2 button{
width: 417px;
height: 64px;
font-size: 24px;
font-family: g-bold;
background: black;
color: white;
border: none;
margin-top: 50px;
}

.pin2 button:hover{
    cursor: pointer;
}

.home-footer2 p{
    font-size: 16px;
    font-family: g-regular;
    text-align: center;
    margin-top: 200px;
}

@media screen and (max-width :528px){

    .create-title h2{
        text-align : center;
        font-size: 24px;
        font-family: g-bold;
        margin-top: 150px;
    }

    .pin button:focus{
        background-color: white;
        color: black;
    }

    .pin{
        background-color: #BE1622;
        width: 224px;
        height: 91.5px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);
    }
    
    .pin input{
        width: 208.5px;
        height: 32px;
        margin: 0 auto;
        font-size: 12px;
        font-family: g-bold;
        background: white;
        color: grey;
        border: none;
        text-align: center;
        margin-top:10px;
        }
    
    .pin button{
    width: 208.5px;
    height: 32px;
    margin: 0 auto;
    font-size: 12px;
    font-family: g-bold;
    background: black;
    color: white;
    border: none;
    margin-top: 10px;
    }
    
    .pin button:hover{
        cursor: pointer;
    }
    
    .home-footer p{
        font-size: 16px;
        font-family: g-regular;
        text-align: center;
        margin-top: 100px;
    }
}



@media screen and (max-width :320px){
}