.container-question_answer{
    width: 85vw;
    margin-top: 20vh;
}

.logo{
    width: 74px;
    height: 72px;
    background: no-repeat;
    background-image: url('../../img/svg/young-logo.svg');
    margin-left: 50px;
    position: absolute;
    top: 40px;
}