.question{
    color: rgb(0, 0, 0);
    font-size: 3vw;
    margin-left: 10vw;
    margin-bottom: 3vw;
    font-family: g-bold;
}

@media screen and (max-width:768px) {
    .question{
        color: rgb(0, 0, 0);
        font-size: 4vw;
        margin-left: 10vw;
        margin-bottom: 5vw;
        font-family: g-bold;
    }    
}

@media screen and (max-width:500px) {
    .question{
        color: rgb(0, 0, 0);
        font-size: 6vw;
        margin-left: 10vw;
        margin-bottom: 5vw;
        font-family: g-bold;
    }    
}