.answer-container{
    margin-top: 5vh;
}

.home-answer{
    text-decoration: none;
    border: none;
    background: rgb(0, 0, 0);
    width: 500px;
    height: 150px;
    font-size: 36px;
    font-family: g-heavy;
    color: white;
    cursor: pointer;
}

.top-answer-container, .bot-answer-container{
    display : flex;
    justify-content: space-around;
}

.top-answer-container{
    margin-bottom : 50px;
}